In [2]:
import pandas as pd
import numpy as np

In [25]:
data1019=pd.read_csv('../data/Crime_Data_from_2010_to_2019.csv')
pre2020=pd.read_csv('../data/Crime_Data_from_2020_to_Present-2.csv')

In [26]:
pre2020=pre2020[['DATE OCC','TIME OCC','Weapon Used Cd','AREA','LAT','LON','Crm Cd Desc']]
data1019=data1019.rename(columns={'AREA ':'AREA'})
data1019=data1019[['DATE OCC','TIME OCC','Weapon Used Cd','AREA','LAT','LON','Crm Cd Desc']]

In [34]:
data10pre=pd.concat([data1019,pre2020])
data10pre['Weapon Used Cd']= data10pre['Weapon Used Cd'].notnull().astype('int')
data10lpre

,DATE OCC,TIME OCC,Weapon Used Cd,AREA,LAT,LON,Crm Cd Desc
0,02/20/2010 12:00:00 AM,1350,0,13,33.9825,-118.2695,VIOLATION OF COURT ORDER
1,09/12/2010 12:00:00 AM,45,0,14,33.9599,-118.3962,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA..."
2,08/09/2010 12:00:00 AM,1515,0,13,34.0224,-118.2524,OTHER MISCELLANEOUS CRIME
3,01/05/2010 12:00:00 AM,150,1,6,34.1016,-118.3295,VIOLATION OF COURT ORDER
4,01/02/2010 12:00:00 AM,2100,1,1,34.0387,-118.2488,"RAPE, ATTEMPTED"
...,...,...,...,...,...,...,...
449625,03/07/2022 12:00:00 AM,1800,0,10,34.2208,-118.5361,VIOLATION OF RESTRAINING ORDER
449626,02/23/2022 12:00:00 AM,1210,0,19,34.2229,-118.4487,THEFT FROM MOTOR VEHICLE - ATTEMPT
449627,02/09/2022 12:00:00 AM,1530,0,10,34.2011,-118.5426,VEHICLE - STOLEN
449628,02/08/2022 12:00:00 AM,2000,0,11,34.0958,-118.2787,VEHICLE - STOLEN
449629,02/14/2022 12:00:00 AM,1800,0,16,34.2755,-118.4092,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...

In [42]:
month=[]
date=[]
year=[]

for row in data10pre['DATE OCC']:
    month.append(row[0:2])
    date.append(row[3:5])
    year.append(row[6:10])
data10pre['month']=month
data10pre['date']=date
data10pre['year']=year
data10pre

,DATE OCC,TIME OCC,Weapon Used Cd,AREA,LAT,LON,Crm Cd Desc,month,date,year
0,02/20/2010 12:00:00 AM,1350,0,13,33.9825,-118.2695,VIOLATION OF COURT ORDER,02,20,2010
1,09/12/2010 12:00:00 AM,45,0,14,33.9599,-118.3962,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",09,12,2010
2,08/09/2010 12:00:00 AM,1515,0,13,34.0224,-118.2524,OTHER MISCELLANEOUS CRIME,08,09,2010
3,01/05/2010 12:00:00 AM,150,1,6,34.1016,-118.3295,VIOLATION OF COURT ORDER,01,05,2010
4,01/02/2010 12:00:00 AM,2100,1,1,34.0387,-118.2488,"RAPE, ATTEMPTED",01,02,2010
...,...,...,...,...,...,...,...,...,...,...
449625,03/07/2022 12:00:00 AM,1800,0,10,34.2208,-118.5361,VIOLATION OF RESTRAINING ORDER,03,07,2022
449626,02/23/2022 12:00:00 AM,1210,0,19,34.2229,-118.4487,THEFT FROM MOTOR VEHICLE - ATTEMPT,02,23,2022
449627,02/09/2022 12:00:00 AM,1530,0,10,34.2011,-118.5426,VEHICLE - STOLEN,02,09,2022
449628,02/08/2022 12:00:00 AM,2000,0,11,34.0958,-118.2787,VEHICLE - STOLEN,02,08,2022
449629,02/14/2022 12:00:00 AM,1800,0,16,34.2755,-118.4092,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,02,14,2022